canvas {
    margin: auto;
    display: block;
    overflow: visible;
    margin-top: 100px;
}

body {
    background-color: rgb(17, 17, 17);
}

/* ANIMAÇÃO INICIAL */

#logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
    stroke-dasharray: 883.1704711914062px;
    stroke-dashoffset: 883.1704711914062px;
    animation: logo-intro 1.4s ease-in-out forwards, fill 0.9s linear forwards 0.3s;
}

#logo path:nth-child(2) {
    stroke-dasharray: 903.1062622070312px;
    stroke-dashoffset: 903.1062622070312px;
    animation: logo-intro 1.4s ease-in-out forwards 0.3s, fill 0.9s linear forwards 0.6s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 849.0693969726562px;
    stroke-dashoffset: 849.0693969726562px;
    animation: logo-intro 1.4s ease-in-out forwards 0.6s, fill 0.9s linear forwards 0.9s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 920.6795654296875px;
    stroke-dashoffset: 920.6795654296875px;
    animation: logo-intro 1.4s ease-in-out forwards 0.9s, fill 0.9s linear forwards 1.2s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 1004.2451782226562px;
    stroke-dashoffset: 1004.2451782226562px;
    animation: logo-intro 1.4s ease-in-out forwards 1.2s, fill 0.9s linear forwards 1.5s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 849.06982421875px;
    stroke-dashoffset: 849.06982421875px;
    animation: logo-intro 1.4s ease-in-out forwards 1.5s, fill 0.9s linear forwards 1.8s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 953.1033935546875px;
    stroke-dashoffset: 953.1033935546875px;
    animation: logo-intro 1.4s ease-in-out forwards 1.8s, fill 0.9s linear forwards 2.1s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 990.8074951171875px;
    stroke-dashoffset: 990.8074951171875px;
    animation: logo-intro 1.4s ease-in-out forwards 2.1s, fill 0.9s linear forwards 2.4s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 869.1555786132812px;
    stroke-dashoffset: 869.1555786132812px;
    animation: logo-intro 1.4s ease-in-out forwards 2.4s, fill 0.9s linear forwards 2.7s;
}

@keyframes logo-intro {
    to {
        stroke-dashoffset: 0%;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: orange;
    }
}

/* Animação botao jogador 1*/

#jogador1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    font-family: sans-serif;
    line-height: 60%;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 4px;
    color: #fff;
    text-decoration: none;
}

#jogador1 svg, #jogador1 svg rect {
    position: absolute;
    top: -35%;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

#jogador1 svg rect {
    stroke: #fff;
    stroke-width: 4;
    transition: 2s;
    stroke-dasharray: 60, 200;
    stroke-dashoffset: 320;
}

#jogador1:hover svg rect {
    stroke-dasharray: 200, 60;
    stroke-dashoffset: 0;
    stroke: #ff0;
}

/* Animação botao jogador 2*/

#jogador2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    font-family: sans-serif;
    line-height: 60%;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 4px;
    color: #fff;
    text-decoration: none;
}

#jogador2 svg, #jogador2 svg rect {
    position: absolute;
    top: -35%;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

#jogador2 svg rect {
    stroke: #fff;
    stroke-width: 4;
    transition: 2s;
    stroke-dasharray: 60, 200;
    stroke-dashoffset: 320;
}

#jogador2:hover svg rect {
    stroke-dasharray: 200, 60;
    stroke-dashoffset: 0;
    stroke: orangered;
}


/* animation: name duration timing-function delay iteration-count direction fill-mode; */

/* ANIMAÇÃO DO SPRITE DO JOGADOR A ENTRAR */

#playerWalk {
    position: absolute;
    top: 400px;
    left: 1080px;
    opacity: 0;
    background: url(/images/animation/player_animation_1.png);
    width: calc(677PX / 7);
    height: 102px;
    animation: walk-player 2s steps(7) 3.57s 1 normal both;
}

@keyframes walk-player {
    0% {
        background-position: 0px;
        transform: translateX(100%);
        opacity: 0;
    }
    1% {
        background-position: 0px;
        opacity: 1;
    }
    99% {
        transform: translateX(-429px);
        opacity: 1;
    }
    100% {
        background-position: 677px;
        transform: translateX(-430px);
        opacity: 0;
    }
}

/* ANIMAÇÃO DO SPRITE DO JOGADOR A DISPARAR */

#playerShoot {
    position: absolute;
    top: 400px;
    left: 650px;
    background: url(/images/animation/player_test_shoot_2.png);
    width: calc(677px / 7);
    height: 102px;
    opacity: 0;
    animation: shoot-player 3s steps(7) 5.7s 1 normal both;
}

@keyframes shoot-player {
    0% {
        opacity: 0;
        background-position: 0px;
    }
    1%{
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        background-position: 677px;
        opacity: 0;
    }
}

/*ARPÃO A SAIR DO PLAYER*/
#gunShoot {
    position: absolute;
    top: 210px;
    left: 687px;
    background: url(/images/animation/gun_2.png);
    width: calc(104px/6);
    height: 202px;
    opacity: 0;
    animation: shoot-gun 1s steps(6) 7.25s 1 normal both;
    
}

@keyframes shoot-gun {
    0% {
        background-position: 0px;
    }
    1% {
        opacity: 1;
        background-position: 0px;
    }
    99% {
        opacity: 1;
        background-position: 103px;
    }
    100% {
        opacity: 0;
        background-position: 104px;
    }
}

/* ANIMAÇÃO DO SPRITE DO JOGADOR A SAIR */

#playerLeave {
    position: absolute;
    top: 400px;
    left: 1090px;
    opacity: 0;
    background: url(/images/animation/player_animation_2.png);
    width: calc(677PX / 7);
    height: 102px;
    animation: leave-player 2s steps(7) 8.67s 1 normal both;
    
}

@keyframes leave-player {
    0% {
        background-position: 0px;
        transform: translateX(-430px);
    }
    1% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        background-position: 677px;
        transform: translateX(100%);
        opacity: 0;
    }
}